@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --alert-error: #ff4444;
    --alert-success: #24C958;
    --color-blue: #455CE9;
    --color-blue-dark: #334BD3;
    --color-border: rgba(28, 29, 32, 0.175);
    --color-border-light: rgba(255, 255, 255, 0.2);
    --color-border-solid: #D2D2D2;
    --color-border-solid-light: #545557;
    --color-dark: #1C1D20;
    --color-dark-dark: #141517;
    --color-gray: #999D9E;
    --color-light: #FFFFFF;
    --color-lightgray: #E9EAEB;
    --color-text: #1C1D20;
    --color-text-light: #FFF;
    --color-white: #FFFFFF;
    --color-yellow: #FFD600;
  }
}

body {
  background-color: var(--color-dark);
}

@layer components {
  .range-input {
    @apply w-full; /* Use Tailwind's width utility */
    -webkit-appearance: none; /* Remove default styling */
    appearance: none; /* Remove default styling */
    background-color: transparent; /* Make the background transparent */
  }

  /* Track Styles */
  .range-input::-webkit-slider-runnable-track {
    @apply h-1 bg-zinc-500 rounded-full; /* Tailwind utilities for height, background color, and border radius */
  }

  .range-input::-moz-range-track {
    @apply h-1 bg-zinc-500 rounded-full;
  }

  .range-input::-ms-track {
    @apply h-1 bg-zinc-500 rounded-full;
  }

  /* Thumb Styles */
  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply h-4 w-4 bg-white rounded-full;
    margin-top: -5px;
  }

  .range-input::-moz-range-thumb {
    @apply h-4 w-4 bg-white rounded-full;
    margin-top: -5px;
  }

  .range-input::-ms-thumb {
    @apply h-4 w-4 bg-white rounded-full;
    margin-top: -5px;
  }

  /* Focus Styles */
  .range-input:focus {
    outline: none;
  }

  /* Hover Effects */
  .range-input:hover::-webkit-slider-runnable-track {
    @apply bg-blue-600; /* Darken track on hover */
  }

  .range-input:hover::-moz-range-track {
    @apply bg-blue-600;
  }

  .range-input:hover::-ms-track {
    @apply bg-blue-600;
  }
}
